.badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: #c0392b;
  position: absolute;
  top: -4px;
  right: -5px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
